<% content_for :page_title do %>Current Polls<% end %>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <%= render partial: "polls/current_polls" %>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <%= render partial: "elements/new_poll" %>
            <%= render partial: "elements/small_history" %>
        </div><!-- /.col-lg-4 -->
    <!-- /.row -->

